<h1>Hệ thống quản lý câu hỏi</h1>
<%= link_to 'Xem tất cả chuyên ngành', categories_path %> <br/>
<%= link_to "Xem tất cả các môn học", subjects_path  %> <br/>

<%= link_to 'Danh sách người dùng', users_path %> <br/>


