<%= form_with(model: @category, local: true) do |form| %>
  <div class="modal-body form-group">
      <b>Tên chuyên ngành</b>
      <%= form.text_field :name, class: 'form-control' %>
  </div>
  <div class="modal-footer actions">
    <button class="btn btn-default">Tạo mới</button>
  </div>
<% end %>