<h1>Chỉnh sửa câu hỏi và câu trả lời</h1>

<%= render 'form', question: @question, answer: @answer %>

<%= link_to 'Show', @question %> |
<%= link_to 'Back', course_questions_path(@question.course_id) %>
