.result_search {
    font-size: 25px;
    text-align: center
}
.image-input{
    cursor: pointer;
    position: absolute;
    width: 100px;
    height: 100px;
    left: 0;
    top: 0;
    opacity: 0;
}
.btn-image{
    position: relative;
    width: 100px;
    height: 100px;
}
.file_field{
    position: relative;
}
.image-output {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 0;
    top: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
}
.image-remove {
    position: absolute;
    left: 10px;
    bottom: 10px;
}    