<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Chỉnh sửa môn học</h4>
    </div>
    <%= render 'form', subject: @subject, category: @category %>
</div>
